<div style="height:64%" ng-controller="MinaMenuCtrl">

<p style=" font-family: Calibri; font-size: 50px; color: #191970; font-weight: bold; text-align: center;">Explore Mina Options</p>
<br/>
<p style="font-family: Calibri; font-size: 50px; height: 25%; text-align: center; "><button style="font-size: 50px; background-color: #F0F8FF; color: #191970; width: 499px" ng-click="addstory()">Add User Story</button></p>

<p style="font-family: Calibri; font-size: 50px; height: 25%; text-align: center; "><button style="font-size: 50px; background-color: #F0F8FF; color: #191970; width: 499px" ng-click="viewstories()">View User Story</button></p>

<p style="font-family: Calibri; font-size: 50px; height: 25%; text-align: center; "><button style="font-size: 50px; background-color: #F0F8FF; color: #191970; width: 499px" ng-click="backtologin()">Sign Out</button></p>
</div>

<div class="active" style="background-color: #191947; height: 12%; font-family: Calibri; ">
</div>